/*Scroll bar*/
::-webkit-scrollbar {
    width: 0px;
}

/* app global css */

.logo{
    font-size: 11pt;
}
.bg{
    z-index: -1;
    position: fixed;
    width: 100vw;
    height: 100vh;
}
.card{
    border-radius: 20px;
    width: 70%;
    padding: 2rem 3rem;
}
.card-login{
    position: fixed;
    right: 9rem;
    
    width: 33%;
    height: 31.3rem;

    padding: 1rem 3rem;
    border-top-left-radius: 90px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 90px;
}
.card-login2{
    position: fixed;
    left: 9rem;
    
    width: 33%;
    height: 32.2rem;

    padding: 1rem 3rem;
    border-top-left-radius: 20px;
    border-top-right-radius: 90px;
    border-bottom-left-radius: 90px;
}
.l-img{
    width: 300px;
    height: auto;
}
.d-none{
    text-decoration: none;
    transition: .3s;
}

.mob{
    display: none;
}

.card-email{
    padding: 2rem 3rem;
    border-radius: 20px;
    width: 50%;
    height: 40%;
}

.forgot{
    position: fixed;
    right: 9rem; 
    
    width: 33%;
    height: 18.1rem;

    padding: 1rem 3rem;
    border-top-left-radius: 90px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 90px;
}
.back{
    display: none;
}
.container{
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    width: 50vw;
    box-shadow: 10px 12px 10px #868686;
}
.container2{
    border: 1px solid #ccc;
    padding: 1rem 2rem;
    width: 80vw;
    box-shadow: 10px 12px 10px #868686;
}
.my-card{
    border: 1px solid #ccc;
    height: auto;
}
#homeCard{
    padding: 1rem 0rem;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.card-img{
    height: 42%;
}
.cardInputs{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.inputValue{
    width: 30%;
}
.search{
    width: 40%;
}
.payments{
    margin: 1rem;
    width: 98%;
}
.myCard{
    margin-top: 2rem;
    width: 30%;
    height: 150px;
}
.myInput{
    width: 47%;
}




@media screen and (max-width: 600px) {
    .card{
        display: none;
    }
    .card-login{
        width: 100%;
        margin: 1rem;
        position: static;
        border-radius: 40px;
    }
    .card-login2{
        width: 100%;
        margin: 1rem;
        position: static;
        border-radius: 40px;
    }
    .forgot{
        width: 90%;
        margin: 1rem;
        border-radius: 40px;
        position: static;
    }
    .back{
        display: flex;
    }
    .container{
        width: 100%;
    }
    .my-card{
        width: 90vw;
    }
    .container2{
        width: 100%;
    }
    .inputValue{
        width: 100%;
    }
    .cards{
        margin: 1rem 0rem;
    }
    .search{
        padding-top: 1rem;
        width: 100%;
    }
    .myCard{
        width: 90%;
        margin-top: 2rem;
    }
    .cards{
        justify-content: center !important;
    }
}